<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    <p>There is a message - @SomeMessageForGrandChild</p>
    <p>Lucky number - @SomeNumberForGrandChild</p>
</div>

@code {
    [CascadingParameter(Name = "someMessage")]
    public string SomeMessageForGrandChild { get; set; } = null!;

    [CascadingParameter(Name ="someNumber")]
    public int SomeNumberForGrandChild { get; set; }
}